body {
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  margin: 0 5px;
  border-radius: 15px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6e61cc;
}

button:active {
  transform: translateY(1px);
}
